<div class="parent">
  <app-header class="header">Flight Booking System</app-header>
  <div class="d-flex justify-content-between form-container m-5">
    <div class="left-content">
      <h2>Begin your journey with us now!</h2> <br>
      <p style="font-size: 40px; color: rgb(227, 88, 215); ">Search for your flights.</p>
    </div>
    <div class="right-content">
      <button class="btn" (click)="onInternational()" >International</button>
      <button class="btn" (click)="onDomestic()">Domestic</button>
    </div>
  </div>
</div>
