<app-header></app-header>
<div class="main-container">
  <div class="sidebar">
    <app-side-bar></app-side-bar>
  </div>
  <div class="content">
    <div class="container mt-5" style="background-color: #f8f9fa;">
      <h2 class="text-center mb-4">Flights schedules</h2>
      <button type="button" class="btn btn-primary mb-3" (click)="toggleAddFlightForm()">Add New Flight</button>

      <!-- Add New Flight Form -->
       
      <div class="card form-container">
        <div class="card form-container">
          @if(showAddFlightForm){
          <div class="card-header">Add New Flight</div>
          <div class="card-body">
            <form #scheduleForm="ngForm" (ngSubmit)="addNewAirlineSchedule(scheduleForm)">
              <div class="form-group">
                <label for="flightNumber">Flight Number:</label>
                <select class="form-control" id="flightNumber" name="flightNumber" ngModel required>
                    @for(airline of airlines ; track airline){
                    <option [value]="airline.flightNumber"> {{airline.flightNumber }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label for="departureAirport">Departure Airport:</label>
                <select class="form-control" id="departureAirport" name="departureAirport" ngModel required>
                  @for(airport of airports ; track airport){
                    <option [value]="airport.airportCode"> {{airport.airportCode }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label for="departureDate">Departure Date:</label>
                <input type="date" class="form-control" id="departureDate" required name="departureDate" ngModel />
              </div>
              <div class="form-group">
                <label for="departureTime">Departure Time:</label>
                <input type="time" class="form-control" id="departureTime" required name="departureTime" ngModel />
              </div>
              <div class="form-group">
                <label for="arrivalAirport">Arrival Airport:</label>
                <select class="form-control" id="arrivalAirport" name="arrivalAirport" ngModel required>
                  <!-- <option *ngFor="let airline of airlines" [value]="airline.departureAirport">{{ airline.departureAirport }}</option> -->
                  @for(airport of airports ; track airport){
                    <option [value]="airport.airportCode"> {{airport.airportCode }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label for="arrivalDate">Arrival Date:</label>
                <input type="date" class="form-control" id="arrivalDate" required name="arrivalDate" ngModel />
              </div>
              <div class="form-group">
                <label for="arrivalTime">Arrival Time:</label>
                <input type="time" class="form-control" id="arrivalTime" required name="arrivalTime" ngModel />
              </div>
              <div class="form-group">
                <label for="availableSeats">Available Seats:</label>
                <input type="number" class="form-control" id="availableSeats" required name="availableSeats" ngModel />
              </div>
              <div class="form-group">
                <label for="pricePerKm">Price Per Kilometer:</label>
                <input type="number" class="form-control" id="pricePerKm" required name="pricePerKm" ngModel />
              </div>
              <button type="submit" class="btn btn-success mt-2">Add Flight</button>
            </form>
          </div>}
        </div>
       

      <!-- Display Flights Table -->
      <div class="card mt-4 table-container">
        <div class="card-header">List of Flights</div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th>#</th> -->
                <th>Flight Number</th>
                <th>Departure Airport</th>
                <th>Departure Date</th>
                <th>Departure Time</th>
                <th>Arrival Airport</th>
                <th>Arrival Date</th>
                <th>Arrival Time</th>
                <th>Available Seats</th>
                <th>Price Per Kilometer</th>
                <th style="text-align: end;">Actions</th>
              </tr>
            </thead>
            <tbody id="flightList">
              @for(schedule of allAirlineSchedules ; track schedule){
              <!-- <tr *ngFor="let flight of allAirlineSchedules; let i = index"> -->
                <tr>
                <!-- <td>{{ i + 1 }}</td> -->
                <td>{{ schedule.flightNumber }}</td>
                <td>{{ schedule.departureAirport }}</td>
                <td>{{ schedule.departureDate | date: 'dd-MM-yyyy' }}</td>
                <td>{{ schedule.departureTime }}</td>
                <td>{{ schedule.arrivalAirport }}</td>
                <td>{{ schedule.arrivalDate | date: 'dd-MM-yyyy' }}</td>
                <td>{{ schedule.arrivalTime }}</td>
                <td>{{ schedule.availableSeats }}</td>
                <td>{{ schedule.pricePerKm }}</td>
                <td class="text-end">
                  <button type="button" class="btn btn-warning" (click)="editFlight(schedule)" data-bs-toggle="modal" data-bs-target="#editModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                  </button>
                  <button type="button" class="btn btn-danger" (click)="deleteFlight(schedule)" data-bs-toggle="modal" data-bs-target="#deleteModal" style="margin-left: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                  </button>
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>

      <!-- Edit Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Flight</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #scheduleForm="ngForm" >
                <div class="form-group">
                  <label for="flightNumber">Flight Number:</label>
                  <select class="form-control" id="flightNumber" name="flightNumber"  required>
                    @for(airline of airlines ; track airline){
                    <option [value]="airline.flightNumber"> {{airline.flightNumber }}</option>
                  }
                </select>
                </div>
                <div class="form-group">
                  <label for="departureAirport">Departure Airport:</label>
                  <select class="form-control" id="departureAirport" name="departureAirport" ngModel required >
                    @for(airport of airports ; track airport){
                      <option [value]="airport.airportCode"> {{airport.airportCode }}</option>
                    }
                  </select>
               </div>
                <div class="form-group">
                  <label for="departureDate">Departure Date:</label>
                  <input type="date" class="form-control" id="departureDate" required name="departureDate" ngModel  />
                </div>
                <div class="form-group">
                  <label for="departureTime">Departure Time:</label>
                  <input type="time" class="form-control" id="departureTime" required name="departureTime" ngModel />
                </div>
                <div class="form-group">
                  <label for="arrivalAirport">Arrival Airport:</label>
                  <select class="form-control" id="arrivalAirport" name="arrivalAirport" ngModel required>
                    <!-- <option *ngFor="let airline of airlines" [value]="airline.departureAirport">{{ airline.departureAirport }}</option> -->
                    @for(airport of airports ; track airport){
                      <option [value]="airport.airportCode"> {{airport.airportCode }}</option>
                    }
                  </select>                </div>
                <div class="form-group">
                  <label for="arrivalDate">Arrival Date:</label>
                  <input type="date" class="form-control" id="arrivalDate" required name="arrivalDate" ngModel />
                </div>
                <div class="form-group">
                  <label for="arrivalTime">Arrival Time:</label>
                  <input type="time" class="form-control" id="arrivalTime" required name="arrivalTime" ngModel />
                </div>
                <div class="form-group">
                  <label for="availableSeats">Available Seats:</label>
                  <input type="number" class="form-control" id="availableSeats" required name="availableSeats" ngModel />
                </div>
                <div class="form-group">
                  <label for="pricePerKm">Price Per Kilometer:</label>
                  <input type="number" class="form-control" id="pricePerKm" required name="pricePerKm" ngModel />
                </div>
                <button type="submit" class="btn btn-success mt-2" (click)="onSaveChanges(scheduleForm)">Save Changes</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Flight</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this flight?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
