<!-- <app-header></app-header> -->
<div class="sidebar">
    <ul class="sidebar-lists" style="list-style: none">
        <li class="sidebar-list " style="font-size: 200%; font-weight: bold; margin-left: -10px; " (click)="onDashboard()">DashBoard</li>
        <hr />
        <li class="sidebar-list"><button class="custom-button" (click)="onAirlines()">Airlines</button></li>
        <hr />
        <li class="sidebar-list"><button class="custom-button" (click)="onAirports()">Airports</button></li>
        <hr />
        <li class="sidebar-list"><button class="custom-button" (click)="onAirlineSchedules()">AirlineSchedules</button></li>
        <hr />
        
      </ul>
  </div>
  