* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/Images/bg-img.avif');
    background-size: cover;
    background-position: center;
  }

 .form-container{
/* opacity: .5; */
font-size: larger;
font-weight: bolder;
}

